profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    test { includeConfig 'conf/test.config' }
}


params{
  input = "./test-datasets/fastq/*_{1,2}.fastq.gz"
  outdir = "./results"
}


process{
  container = 'vergaju/test:dev'
  containerOptions = '-B /home/'
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/home/jacopo/containers/'
